#dhashboardleft,
#unblockboardleft {
  width: 200px;
  float: left;
  padding: 15px;
  border: 1px solid var(--gray-080);
  border-radius: 5px;
  background-color: hsl(0, 0%, 92%);
  box-shadow: 0px 5px 10px var(--gray-040);
}
.cardtitle {
  font-weight: bold;
  font-size: medium;
  color: var(--gray-040);
}
#dashboardright {
  display: table;
  max-width: 50%;
}
#dashboard > #dashboardRightTop,
#dashboard > #dashboardRightDown {
  display: table-cell;
  vertical-align: middle;
}
#dashboardRightTop,
#dashboardRightDown {
  padding: 20px;
  border: 1px solid var(--gray-080);
  border-radius: 5px;
  background-color: hsl(0, 0%, 92%);
  box-shadow: 0px 5px 10px var(--gray-040);
}